# Creating, Reading and Writing

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Creationg a data frame by hand
fruits = pd.DataFrame({"Apple":[34,65,76,43],"Orange":[45,99,80,50], "Cherry":[89,22,33,44]})
fruits

   Apple  Orange  Cherry
0     34      45      89
1     65      99      22
2     76      80      33
3     43      50      44

In [3]:
#data frame with index
fruit_sales = pd.DataFrame({"Apples": [35,41], "Bananas": [21,34]}, index = ['2017 Sales', '2018 Sales'])

In [4]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [5]:
#series
ingridients = pd.Series(["4 cups", "1 large", "2 can", "2"], index = ["Floor", "Milk", "Spam","Eggs"])

In [8]:
ingridients

Floor     4 cups
Milk     1 large
Spam       2 can
Eggs           2
dtype: object

In [9]:
# reading files
df = pd.read_csv("Building_Permits.csv")

In [10]:
#saving files
fruit_sales.to_csv("Fruits_Sales_data.csv")

In [16]:
#now let's load the file we just saved
data = pd.read_csv("Fruits_Sales_data.csv", index_col=0)

In [19]:
data

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

# Indexing, Slicing and Assigning

In [22]:
df.columns

Index(['Permit Number', 'Permit Type', 'Permit Type Definition',
       'Permit Creation Date', 'Block', 'Lot', 'Street Number',
       'Street Number Suffix', 'Street Name', 'Street Suffix', 'Unit',
       'Unit Suffix', 'Description', 'Current Status', 'Current Status Date',
       'Filed Date', 'Issued Date', 'Completed Date',
       'First Construction Document Date', 'Structural Notification',
       'Number of Existing Stories', 'Number of Proposed Stories',
       'Voluntary Soft-Story Retrofit', 'Fire Only Permit',
       'Permit Expiration Date', 'Estimated Cost', 'Revised Cost',
       'Existing Use', 'Existing Units', 'Proposed Use', 'Proposed Units',
       'Plansets', 'TIDF Compliance', 'Existing Construction Type',
       'Existing Construction Type Description', 'Proposed Construction Type',
       'Proposed Construction Type Description', 'Site Permit',
       'Supervisor District', 'Neighborhoods - Analysis Boundaries', 'Zipcode',
       'Location', 'Record ID'],
      dtype='object')

In [23]:
#select the block column from the dataset
df.Block

0         0326
1         0306
2         0595
3         0156
4         0342
          ...
198895    0113
198896    0271
198897    4318
198898    0298
198899    0160
Name: Block, Length: 198900, dtype: object

In [24]:
#select the first 10 values of block column
first_10 = df.Block[:10]
first_10

0    0326
1    0306
2    0595
3    0156
4    0342
5    4105
6    1739
7    4789
8    1212
9    1259
Name: Block, dtype: object

In [25]:
#select the first row of the data
first_row = df.iloc[0]
first_row

Permit Number                                                                  201505065519
Permit Type                                                                               4
Permit Type Definition                                                         sign - erect
Permit Creation Date                                                             05/06/2015
Block                                                                                  0326
Lot                                                                                     023
Street Number                                                                           140
Street Number Suffix                                                                    NaN
Street Name                                                                           Ellis
Street Suffix                                                                            St
Unit                                                                                    NaN
Unit Suffix                                                                             NaN
Description                               ground fl facade: to erect illuminated, electr...
Current Status                                                                      expired
Current Status Date                                                              12/21/2017
Filed Date                                                                       05/06/2015
Issued Date                                                                      11/09/2015
Completed Date                                                                          NaN
First Construction Document Date                                                 11/09/2015
Structural Notification                                                                 NaN
Number of Existing Stories                                                              6.0
Number of Proposed Stories                                                              NaN
Voluntary Soft-Story Retrofit                                                           NaN
Fire Only Permit                                                                        NaN
Permit Expiration Date                                                           11/03/2016
Estimated Cost                                                                       4000.0
Revised Cost                                                                         4000.0
Existing Use                                                            tourist hotel/motel
Existing Units                                                                        143.0
Proposed Use                                                                            NaN
Proposed Units                                                                          NaN
Plansets                                                                                2.0
TIDF Compliance                                                                         NaN
Existing Construction Type                                                              3.0
Existing Construction Type Description                                        constr type 3
Proposed Construction Type                                                              NaN
Proposed Construction Type Description                                                  NaN
Site Permit                                                                             NaN
Supervisor District                                                                     3.0
Neighborhoods - Analysis Boundaries                                              Tenderloin
Zipcode                                                                             94102.0
Location                                          (37.785719256680785, -122.40852313194863)
Record ID                                                                     1380611233945
Name: 0, dtype: object

In [26]:
#select the first 10 values from unit column
first_10_unit = df.Unit.iloc[0:10]
first_10_unit

0    NaN
1    0.0
2    NaN
3    0.0
4    NaN
5    NaN
6    0.0
7    NaN
8    NaN
9    NaN
Name: Unit, dtype: float64

In [32]:
#Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.
indices = [1,2,3,5,8]
sample_data = df.iloc[indices]
sample_data

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
5,201706149344,8,otc alterations permit,06/14/2017,4105,009,800,NaN,Indiana,St,...,1.0,constr type 1,1.0,constr type 1,NaN,10.0,Potrero Hill,94107.0,"(37.75922331346539, -122.39170402628598)",1466911170855
8,M804227,8,otc alterations permit,07/05/2017,1212,054,2094,NaN,Fell,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Lone Mountain/USF,94117.0,"(37.772393498502595, -122.45231466824669)",1469198253772

In [33]:
cols = ['Unit', 'Block', 'Lot', 'Zipcode']
indices = [0, 1, 10, 100]
sample = df.loc[indices, cols]

In [34]:
sample

     Unit Block  Lot  Zipcode
0     NaN  0326  023  94102.0
1     0.0  0306  007  94102.0
10    NaN  3541  001  94114.0
100   NaN  1289  020  94117.0

In [55]:
#first 100 entries for zipcode and lot columns
cols = ["Zipcode","Lot"]
sample_100 = df.loc[:99, cols]
sample_100

    Zipcode  Lot
0   94102.0  023
1   94102.0  007
2   94109.0  203
3   94109.0  011
4   94102.0  001
..      ...  ...
95  94103.0  001
96  94116.0  033
97  94112.0  017
98  94124.0  043
99  94107.0  322

[100 rows x 2 columns]

In [36]:
#same through iloc
#first find the index because iloc only accept numerical index
cols_indx= [40,5]
sample = df.iloc[0:100, cols_indx ]
sample

    Zipcode  Lot
0   94102.0  023
1   94102.0  007
2   94109.0  203
3   94109.0  011
4   94102.0  001
..      ...  ...
95  94103.0  001
96  94116.0  033
97  94112.0  017
98  94124.0  043
99  94107.0  322

[100 rows x 2 columns]

# Summary functions and maps

In [37]:
wine_reviews = pd.read_csv(r"C:\Users\Dell\Downloads\winemag-data_first150k.csv",index_col=0)

In [40]:
wine_reviews.description.iloc[9]

'The producer sources from two blocks of the vineyard for this wine—one at a high elevation, which contributes bright acidity. Crunchy cranberry, pomegranate and orange peel flavors surround silky, succulent layers of texture that present as fleshy fruit. That delicately lush flavor has considerable length.'

What is the median of the points column in the reviews DataFrame?

In [41]:
wine_reviews.describe().T

           count       mean        std   min   25%   50%   75%     max
points  150930.0  87.888418   3.222392  80.0  86.0  88.0  90.0   100.0
price   137235.0  33.131482  36.322536   4.0  16.0  24.0  40.0  2300.0

In [43]:
print(wine_reviews.points.median())

88.0

What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [44]:
wine_reviews.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country.

In [46]:
rewiews_per_country = wine_reviews.country.value_counts()
rewiews_per_country

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
Luxembourg                    9
England                       9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
Bosnia and Herzegovina        4
South Korea                   4
China                         3
Slovakia                      3
Egypt                         3
Montenegro                    2
Albania                       2
Japan                         2
Tunisia                       2
US-France                     1
Name: country, dtype: int64

Create variable centered_price containing a version of the price column with the mean price subtracted.

In [77]:
centered_price = wine_reviews.price - wine_reviews.price.mean()
centered_price

0         201.868518
1          76.868518
2          56.868518
3          31.868518
4          32.868518
             ...
150925    -13.131482
150926     -6.131482
150927    -13.131482
150928     18.868518
150929    -18.131482
Name: price, Length: 150930, dtype: float64

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [47]:
bargain_indx= (wine_reviews.points/wine_reviews.price).idxmax()
bargain_wine = wine_reviews.loc[bargain_indx]

In [48]:
bargain_wine

country                                                       US
description    There's a lot going on in this Merlot, which i...
designation                                                  NaN
points                                                        86
price                                                        4.0
province                                              California
region_1                                              California
region_2                                        California Other
variety                                                   Merlot
winery                                                    Bandit
Name: 25645, dtype: object

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset.

In [50]:
trop = wine_reviews.description.map(lambda i:"tropical" in i ).sum()
frut = wine_reviews.description.map(lambda i:"fruity" in i ).sum()
descriptor_counts = pd.Series([trop, frut], index = ['tropical', 'fruity'])

In [51]:
descriptor_counts

tropical    4135
fruity      8669
dtype: int64

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

In [88]:
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = wine_reviews.apply(stars, axis='columns')

In [89]:
star_ratings

0         3
1         3
2         3
3         3
4         3
         ..
150925    2
150926    2
150927    2
150928    2
150929    2
Length: 150930, dtype: int64

# Grouping and Sorting

In [58]:
df = pd.read_csv(r"C:\Users\Dell\Downloads\winemag-data-130k-v2.csv", index_col=0)

Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [63]:
rewiews_twitter_handler = df.groupby("taster_twitter_handle").size().sort_values(ascending=False)

In [64]:
rewiews_twitter_handler

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
dtype: int64

What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [65]:
best_rating_per_price = df.groupby("price")['points'].max().sort_index()
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof

In [66]:
price_extremes = df.groupby('variety')["price"].agg([min,max])

In [67]:
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [113]:
sorted_varieties = price_extremes.sort_values(by=['min','max'], ascending = False)

In [114]:
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [115]:
rewiever_mean_points = df.groupby("taster_name")["points"].mean()

In [116]:
rewiever_mean_points

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

What combination of countries and varieties are most common?

In [68]:
country_variety_counts = df.groupby(["country","variety"]).size().sort_index(ascending=False)

In [118]:
country_variety_counts

country    variety
Uruguay    White Blend                     1
           Tempranillo-Tannat              1
           Tannat-Syrah                    1
           Tannat-Merlot                   6
           Tannat-Cabernet Franc           2
                                        ...
Argentina  Cabernet Blend                  8
           Bordeaux-style White Blend      1
           Bordeaux-style Red Blend       89
           Bonarda                       105
           Barbera                         1
Length: 1612, dtype: int64

# Dtypes and Missing Values

What is the data type of the points column in the dataset?

In [69]:
df["points"].dtype

dtype('int64')

Create a Series from entries in the points column, but convert the entries to strings.

In [70]:
points_str = df.points.astype('string')

Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [71]:
missing_price_rewievs = df[df.price.isnull()]
#or
#missing_price_revievs = df.price.isnull().sum()
missing_price_rewievs = len(missing_price_rewievs)

In [134]:
missing_price_rewievs

8996

What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown. Sort in descending order.

In [72]:
reviews_per_region = df.region_1.fillna("unkonw").value_counts().sort_values(ascending=False)

# Renaming and Combining

region_1 and region_2 are pretty uninformative names for locale columns in the dataset. Create a copy of reviews with these columns renamed to region and locale, respectively.

In [73]:
renamed = wine_reviews.rename(columns = {'region_1':'region', 'region_2':"locale"})

In [74]:
renamed.head()

,country,description,designation,points,price,province,region,locale,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Set the index name in the dataset to wines.

In [148]:
renamed_indx = wine_reviews.rename_axis("wine", axis="rows")

In [149]:
renamed_indx

,country,description,designation,points,price,province,region_1,region_2,variety,winery
wine,,,,,,,,,,
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

Concatenate or combine two dataframes

In [151]:
combined = pd.concat([renamed_indx, renamed ])

In [152]:
combined

,country,description,designation,points,price,province,region_1,region_2,variety,winery,region,locale
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,NaN,NaN
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,NaN,NaN
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN,NaN
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN,NaN
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,NaN,NaN,White Blend,Feudi di San Gregorio,Fiano di Avellino,NaN
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,NaN,NaN,Champagne Blend,H.Germain,Champagne,NaN
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,NaN,NaN,White Blend,Terredora,Fiano di Avellino,NaN
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,NaN,NaN,Champagne Blend,Gosset,Champagne,NaN
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,NaN,NaN,Pinot Grigio,Alois Lageder,Alto Adige,NaN